---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Personalizações para a galeria */
figure.third figcaption {
    font-family: $global-font-family;
    font-size: 0.9em;
    font-weight: bold;
    color: $text-color;
    margin-top: 1em;
    text-align: center;
    line-height: 1.4;
}
